<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorinterval="30" status="info" strict="true">
	<Properties>
		<Property name="log-path">log</Property>
	</Properties>
	<Appenders>
		<Appender type="Console" name="FastConsole">
			<Layout type="PatternLayout" pattern="%d{MM-dd HH:mm} %-80m%n" />
		</Appender>

		<Console name="SlowConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm} %-5level %-120m (%F:%L)%n" />
		</Console>
		<!-- <Appender type="File" name="File" fileName="${filename}"> <Layout 
			type="PatternLayout" pattern="%d{MM-dd HH:mm} %-80m (%F:%M:%L)%n" /> </Appender> -->
		<RollingFile name="RollingFile" fileName="${log-path}/trainingapp.log"
			filePattern="${log-path}/trainingapp-%d{yyyy-MM-dd}-%i.log.zip">
			<PatternLayout>
				<pattern>%d{dd/MMM/yyyy HH:mm:ss}- %c{1}: %m%n</pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="1000 KB" />
			</Policies>
			<DefaultRolloverStrategy max="4" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.royasoftware.school.service" level="info" includeLocation="true"
			additivity="false">
			<AppenderRef ref="SlowConsole" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="com.royasoftware.school.rest" level="info" includeLocation="true"
			additivity="false">
			<AppenderRef ref="SlowConsole" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		
		<Logger name="com.royasoftware" level="info" includeLocation="true"
			additivity="false">
			<AppenderRef ref="SlowConsole" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		
		<Logger name="com.memorynotfound" level="debug" />
		<Logger name="org.hibernate" level="error" />
		<Logger name="org.springframework" level="error" />
		<Logger name="org.apache.coyote.http11" level="error" />
		
		<Root level="info" >
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="FastConsole" />
		</Root>
	</Loggers>
</Configuration>

