<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Log message format %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n -->
    <encoder>
      <pattern>%d{HH:mm:ss} %-5level (%-5F:%L\) - %msg%n 
      </pattern>
    </encoder>
  </appender>
  	<logger name="org.springframework" level="error"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
  	<logger name="org.hibernate" level="error"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
  	<logger name="org.flywaydb" level="error"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
  	<logger name="org.apache" level="error"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
  	<logger name="*.MultitenantDataSource" level="error"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
  <!-- Setting the root level of logging to INFO -->
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

<!-- 

<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
<param name="Target" value="System.out" />
<layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern" value="-%C.(%F:%M:%L)%n%-20C{1}-| %m |-%n" />
</layout> 
<filter class="org.apache.log4j.varia.LevelRangeFilter">
<param name="LevelMin" value="INFO"/>
<param name="LevelMax" value="FATAL"/>
</filter>
</appender>


<appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
<param name="Target" value="System.err" />
<layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern" value="%d{MM-dd HH:mm} %C.(%F:%M:%L)%n%-20C{1}- - - -| %m |- - - -%n" />
</layout>
<filter class="org.apache.log4j.varia.LevelRangeFilter">
<param name="LevelMin" value="WARN"/>
<param name="LevelMax" value="ERROR"/>
</filter>
</appender>
   <category name="org.hibernate">
      <priority value="FATAL"/>
   </category>
   <category name="com.sshtools.j2ssh">
      <priority value="ERROR"/>
   </category>
   <category name="org.springframework.transaction">
      <priority value="FATAL"/>
   </category>

   <category name="org.springframework.orm">
      <priority value="FATAL"/>
   </category>

<root>
<level value="INFO" />
<appender-ref ref="STDOUT"/>
<appender-ref ref="STDERR"/>
 </root>
 -->
 